<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>



<title>Sistemas Embebidos</title>
</head>
<body style="background: green;">

<title> Practica MQTT </title>

<center><h1>Sistemas Embebidos</h1>
<h1>  Practica MQTT </h1>
	
<img id="imagen" src="https://en.pimg.jp/034/585/733/1/34585733.jpg" alt="imagen inexistente">
<img id="imagen2" src="/static/images/RA.jpg" width="500" height="250" = alt="imagen inexistente ">
	
<h1 id="sensor">--</h1>
<h1 id="sensor1">--</h1>
	
<button id = 'LED1On'type="button" onclick="Led1_on();">
LED1 ON!</button><br>
<button id = 'LED1Off' type="button" onclick="Led1_off();">
LED1_OFF!</button><br>
	
<button id = 'Hiii' type="button" onclick="Hiii();">
Nombre</button><br>
	
<button id = 'Hii' type="button" onclick="Hii();">
Curso</button>
</center>
<script>
/*
function LED1_On() {
	alert("led on");
	console.log("led on");
  
}
function LED1_Off(){
	alert("led off");
	console.log("led off");
}
*/
</script>
<script src="/static/js/index.js"></script>
</body>
</html>
